.detail {
    align-self: center;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.detail img {
    width: 100%;
}

.detail .data {
    background-color: var(--dark-brown);
}

.detail .dogName, .detail h5 {
    line-height: 0;
}

.detail .topData {
    display: flex;
    justify-content: space-evenly;

    margin: 8px;
}

.backButton {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--dark-brown);

    text-decoration: none;
    color: var(--white-text);
    transition: background 200ms ease;
}

.backButton:hover {
    background-color: #963515;
}