footer {
    display: flex;
    justify-content: space-between;

    background-color: var(--light-green);
}

footer h4 {
    margin: 16px;
}

footer a {
    margin: 16px;
    text-decoration: none;
    color: var(--dark-green);
    transition: color 0.3s;
    font-weight: bold;

    &:hover {
        color: var(--light-brown);
    }
}