.app {
    background-color: #97533d;
    color: #f2f0ee;
    text-align: center;

    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}