body {
  background-color: var(--light-brown);
  color: var(--white-text);
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white-text: #f2f0ee;
  --black-text: #000;
  --light-green: #a5b462;
  --light-brown: #97533d;
  --dark-brown: #6f2b15;
  --darker-brown: #5b2d21;
}