nav {
    background-color: var(--dark-brown);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #f2f0ee;
    text-decoration: none;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.links {
    color: #f2f0ee;
    text-decoration: none;
}