.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.orderFilter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  color: white;
  padding: 10px 15px;
  background-color: var(--dark-brown);
  transition: background-color 300ms ease, color 300ms ease;

  margin: 0 5px;
  max-width: 100px;

  &:hover {
    background-color: var(--light-brown);
  }

  &:disabled {
    background-color: var(--dark-brown);
    opacity: 0.8;
  }
}

.paginationText {
  margin: 0 10px;
  text-wrap: nowrap;
}

@media screen and (min-width: 800px) {
  .finalPagination {
    display: block;
  }
}
