.filterContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.label {
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  text-wrap: nowrap;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 20px;
}

.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 5px;
}

.option {
  padding: 10px;
  font-size: 16px;
}
