.article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  background-color: var(--darker-brown);
}

.picture {
  width: 100%;
  display: block;
  height: 260px; /* Set a fixed height for the image container */
  overflow: hidden; /* Ensure content does not overflow */
}

.image {
  width: 100%;
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  display: block;
  transition: transform 0.5s; /* Add a smooth transition */

  &:hover {
    transform: scale(1.05); /* Scale the image on hover */
  }
}

.dogName {
  font-size: 1.5em;
  margin: 10px;
}

.info {
  padding: 10px;
  font-size: 1em;
  height: 100px; /* Set a fixed height for the text container */
  overflow: hidden; /* Ensure content does not overflow */
}

/* Previous styles are for phone size, next ones for ipads and desktops */
@media screen and (min-width: 500px) {
  .article {
    flex: 0 1 49%;
  }
}

@media screen and (min-width: 900px) {
  .article {
    flex: 0 1 24%; /* flex-grow 0, flex-shrink 1, width 24% for 25% of screen and a little of space, default: 0 1 auto */
  }
}
