.container section {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderFilter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.orderFilter div {
    width: 120px;
}

.pagination button {
    color: #f2f0ee;
    background: none;
    border: none;
    transition: background 300ms ease;
}

.pagination button:hover {
    background-color: #964125;
}