.container section {
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div button {
    height: 20px;
}