.container section {
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div button {
    color: #f2f0ee;
    background: none;
    border: none;
    transition: background 300ms ease;
}

.container div button:hover {
    background-color: #964125;
}