.createForm {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-brown);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-brown);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.error {
  /* Errors */
  background-color: #cc0000;
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.inputGroup {
  width: 100%;
  text-align: left;
}

.numeralInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.numeralInputs div {
  display: flex;
  justify-content: space-between;
}

.container input,
.container select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1.5px solid white;
  margin-bottom: 10px;
  transition: border-color 0.3s;

  &:focus {
    border: 1.5px solid var(--light-brown);
    outline: none;
  }
}

.tempList {
  list-style-type: none;
  padding: 0 2px 0 0;
  margin: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--light-green);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    border-radius: 5px;
  }
}

.tempList li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--light-green);
  color: var(--black-text);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--darker-green);
    color: white;
  }
  &:focus {
    outline: solid 3px var(--light-brown);
    outline-offset: -3px;
  }
}

.tempGroup {
  width: 100%;
  text-align: left;
}

.tempGroup label select {
  border: 1.5px solid var(--light-green);
  background-color: var(--light-green);
  color: var(--black-text);
  margin-bottom: 2px;
}

.tempContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--light-green);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 5px;
}

.temp {
  color: black;
  font-size: 0.9em;
  padding: 4px 8px;
  transition: background-color 0.3s;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--dark-green);

  &:hover {
    background-color: var(--darker-green);
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.deleteTemp {
  background-color: var(--dark-green);
  color: white;
  padding: 4px;
  max-width: 30px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--light-green);
  }

  &:focus {
    outline: solid 2px var(--darker-green);
  }
}

.label {
  text-align: left;
  font-size: 0.9em;
  color: white;
  line-height: 1.5;
}

@media (min-width: 1000px) {
  .container {
    width: 30%;
    max-width: 500px;
  }
}
