.createForm {
    display: flex;
    justify-content: center;
}

.container {
    margin: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numeralInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.numeralInputs div {
    display: flex;
    justify-content: space-between;
}

.container input,
.container select {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.container button {
    border-radius: 8px;
    border: solid 1px black;
    background-color: #3a6f96;
    padding: 8px;
    width: 100%;
}

@media (min-width: 1000px) {
    .container {
        width: 30%;
        max-width: 500px;
    }
}