.container {
    position: relative;
    margin: auto;
}

.link {
    text-decoration: none;
    background-color: var(--dark-brown);
    box-shadow: 0 0 8px 8px var(--dark-brown);
    color: var(--white-text);
    padding: 16px;
}